body{
	text-align: center;
	background-image: url('images/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
#login{
	z-index: 1;
}
#register{
	display: none;
	z-index: -1;
}
#registerTeam{
	display: none;
	z-index: -1;
}
.reg{
	position: absolute;
	right: 37.5%;
	left: 37.5%;
	border: 1px solid white;
	width: 25%;
	margin: auto;
	background-color: rgba(128,128,128,0.4);
}
.log{
	position: absolute;
	top: 20%;
	right: 37.5%;
	left: 37.5%;
	border: 1px solid white;
	width: 25%;
	margin: auto;
	background-color: rgba(128,128,128,0.4);
}
input{
	padding: 12px 16px;
	border-radius: 3px;
	border: none;
}
input.sub{
	padding: 12px 16px;
	background-color: transparent;
	color: white;
	border: none;
}
input.sub:hover{
	padding: 12px 16px;
	background-color: #555;
	cursor: pointer;
	width: 100%;
}
div{
	margin: 15px 0px;
	width: 100%;
	overflow: hidden;	
}
a#home{
	border:1px solid white;
	border-radius: 3px;
	text-decoration:none;
	background-color: white;
	opacity: 0.4;
	font-size: 1.5em;
	color:black;
	position: relative;
	top: -5px;
}
@media (max-width: 1000px) {
    .boxed {
        width: 40%;
        margin-top: 0;
        left: 30%;
        right: 30%;
    }
}
@media (max-width: 800px) {
    .boxed {
        width: 50%;
        margin-top: 0;
        left: 25%;
        right: 25%;
    }
}
@media (max-width: 600px) {
    .boxed {
        width: 60%;
        margin-top: 0;
        left: 20%;
        right: 20%;
    }
}